@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

* {

  font-family: 'Montserrat', sans-serif;

  margin:0;
  padding:0;

}

.background {
  
  height: 100vh;

  background: #FFE2E2;

  padding: 5em 0 0 0;
  
}

.register_container {
  
  background: linear-gradient(270deg, #E9B7CE 0%, #D3F3F1 98.56%);

  margin:  auto;

  box-shadow: 3px 4px 10px 2px #D2709B;

  width: 80%;

  border-radius: 1em;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.main_content {
  
  width: 70%;

  margin: 3em auto;

  display: flex;
  flex-flow: column wrap;

}

.logo_container {

  width: 50%;

  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  color: #650006;
  font-weight: 700;
}

#logo_img  {
  
  margin-bottom: 1em;
  
  width: 20%;

}

.register_form  {

  display:flex;
  flex-flow: column nowrap;
  align-items: center;

  margin-top: 1em;

}

#register_lbl {

  font-size: 1rem;
  color: #9F9090;

  margin-bottom: 1em;

}

.input_container  {

  width: 100%;
  
  display:flex;
  justify-content: space-evenly;

}

.input_container_col  {

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width:100%;
  max-width: 700px;

  font-size: 1rem;
}

select  {
 
  background: #FFEAEA;
  
  color: #929292;

  width: 95%;
  height: 70px;

  font-size: 1rem;

  padding: 1em 1.1em;

  border: none;
  border-radius: .5em;

  box-shadow: 6px 4px 4px 0px #DB9696;

}

select + select {

  margin-top: 1.2em;

}

.input_container2 input{

  margin-top: 1.2em;

}

.text_form  {

  background: #FFEAEA;

  font-size: 1rem;

  width: 80%;
  height: 35px;

  border: none;
  border-radius: .5em;

  padding: 1em 1.2em;

  box-shadow: 2px 2px 3px 1px #DB9696;

}

.text_form + .text_form {
  
  margin-top: 1.2em;

}

.unirse_btn {

  background: #9B1750;

  box-shadow: 2px 4px 4px 0px grey;

  font-size: 1rem;

  padding: 1em 1.5em;
  
  margin-top: 1.5em;

  border: none;
  border-radius: .7em;

  align-self: center;
}

.unirse_btn a {

  text-decoration: none;
  color: #FFD9D9;
}

